.DS_Store
.idea

*.o
*.cbp
*.cmake
CMakeCache.txt
cmake_install.cmake
bin/
build/
CMakeLists.txt.user
**/CMakeFiles/
venv
**/.idea
CMakeScripts
Testing
Makefile

install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cmake-build-debug/.DS_Store
